<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aries.dao.mapper.IGrouponFavoriteMapper">
    <resultMap type="aries.dao.entity.po.GrouponFavorite" id="GrouponFavoriteMap">
        <result property="cardNo" column="cardno"/>
        <result property="productID" column="productid"/>
        <result property="collectTime" column="collecttime"/>
    </resultMap>

    <select id="getUserFavorite" resultMap="GrouponFavoriteMap">
        SELECT * FROM user_groupon_favorite where cardno=#{cardno}
    </select>
</mapper>